
body {
    background-color: #f0f0f0;
    /*background-image: ;*/
    background-size: 100% 100%;
}
.addAlarm {
    margin: auto;
    position: relative;
    padding: 70px;
    font-size: 50px;
    text-align: center;
    text-decoration: bold;
    color: black;
}
#Alarms {
  margin: auto;
  position: relative;
  float: left;
  top: 10px;
  left: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: serif;
  text-align: left;
  color: black;
  border-radius: 10px;
  border: 10px #000;
  
  

}
#clock {
    height: 100px;
    width: 800px;
    margin: auto;
    position: relative;
    top: 0; bottom:0; left:0; right:0;
    font-size: 100px;
    text-align: center;
    font: courier, monospace;
    color: #f00000;
    text-shadow: 2px 2px 4px #000000;
}
#date {
    margin: auto;
    position: relative;
    font-size: 50px;
    text-align: center;
    text-decoration: bold;
    color: black;
}
#alarmTitle {
    margin-top: 70px;
    position: relative;
    font-size: 40px;
    font-family: cursive;
    text-decoration: italic;
    text-align: center;
    color: black;
}
#alarm {
    font-size: 20px;
    position: relative;
    font-family: curier;
    text-align: center;
    color: black;
}
.alarmEntry {
    height: 20px;
    width: 40px;
}
#button {
    margin-top: 30px;
    font-size: 50px;   
}
#button:hover {
    color: red;
    cursor: pointer;
}
#alarmTime {
    margin-top: -70px;
    font-size: 30px;
    font-family: cursive;
    
}
#currentAlarm {
    margin-top: 20px;
    font-size: 20px;
    font-family: courier;
}